# ignore everything to be explicit about what we copy
*

# configs
!biome.json

# node
!package.json
!pnpm-*.yaml

# typescript
!*.ts
!tsconfig*.json

# ...even if they are in subdirectories
!*/

# keep the whole content of these always ignored no matter where they are
node_modules/
dist/
coverage/
