# ignore everything to be explicit about what we copy
**

# configs
!biome.json
!turbo.json

# node
!package.json
!pnpm-*.yaml

# typescript
!*.ts
!tsconfig*.json

!packages/**
!services/**

# keep the whole content of these always ignored no matter where they are
**/node_modules/
**/dist/
**/coverage/
**/.turbo/
