LOG_LEVEL=debug
SELF_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:9001/outlook-mcp
ACCESS_TOKEN_EXPIRES_IN_SECONDS=60 # 1 minute
REFRESH_TOKEN_EXPIRES_IN_SECONDS=2592000 # 30 days
MICROSOFT_CLIENT_ID=<azure-ad-app-client-id>
MICROSOFT_CLIENT_SECRET=<azure-ad-app-client-secret>
HMAC_SECRET=<hmac-secret> # Random 32-char secret. Create with e.g. openssl rand -hex 32
ENCRYPTION_KEY=<encryption-key> # 32-char hex string. Create with e.g. openssl rand -hex 32

# OTEL_SERVICE_NAME=outlook-mcp
# OTEL_SERVICE_VERSION
# OTEL_TRACES_EXPORTER=oltp
# OTEL_METRICS_EXPORTER=oltp
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:9004
# OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
# OTEL_EXPORTER_OTLP_METRICS_ENDPOINT
# OTEL_EXPORTER_PROMETHEUS_HOST=0.0.0.0
# OTEL_EXPORTER_PROMETHEUS_PORT=8081
# OTEL_METRIC_EXPORT_INTERVAL=30000
# OTEL_BSP_EXPORT_TIMEOUT=30000
# OTEL_BSP_SCHEDULE_DELAY=5000
# OTEL_BSP_MAX_EXPORT_BATCH_SIZE=512
# OTEL_BSP_MAX_EXPORT_BATCH_SIZE=2048